* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 171, 173);
}

#wrapper {
  background-color: rgb(245, 171, 173);
  z-index: 1;
  /* height: 2020px; */
}

.content1 {
  height: 500px;
}

.content2 {
  position: relative;
  height: 1050px;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  background-color: rgb(240, 130, 131);
  z-index: 2;
  margin-bottom: 200px;
}

span {
  color: red;
  border-bottom: 3px solid #ffff42;
}

.sumaashi {
  padding-top: 50px;
  margin-top: 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  z-index: 3;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 10px black;
}

.sumaashi-body {
  padding-bottom: 30px;
}

.sumaashi-content {
  width: 800px;
  height: 750px;
  background-color: rgb(227, 246, 252);
  margin: 30px auto;
  border-radius: 10px;
}

.sumaashi-content2 {
  width: 800px;
  height: 470px;
  background-color: rgb(252, 239, 245);
  margin: 30px auto;
  border-radius: 10px;
}

.sumaashi-content2-text {
  /* padding-top: 60px; */
  line-height: 40px;
}

.sumaashi-content2-link {
  background-color: #ff6bf5;
  border-radius: 30px;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  /* margin: 100px auto;
  padding: 10px; */
}

.sumaashi-content2-link p {
  transform: translateY(10px);
}

.sumaashi-content3 {
  width: 800px;
  height: 400px;
  background-color: rgb(229, 245, 236);
  margin: 30px auto;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

/* 車写真 */
.car-lineup-main {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.car-img {
  margin: 50px;
  position: relative;
}

.car-img-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #3714c4;
  /* line-height: 100px; */
  text-align: center;
  font-size: 20px;
  color: #fff;
  white-space: normal;
}

.car-img-text span {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  width: 100%;
  white-space: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: none;
}

.car {
  /* align-content: center; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.car-img-link {
  background-color: yellow;
  height: 50px;
  width: 100%;
  border: 3px solid #0b1c9c;
  border-radius: 15px;
  /* border-bottom: -10px; */
  left: 0;
  bottom: -10px;
  text-align: center;
  /* padding: 15px;
  margin: 15px; */
  position: absolute;
}

.car-img-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  /* transform: translate(-50%, 0); */
  font-weight: bold;
  color: #0b1c9c;
}

.car-img-link span:first-child {
  /* top: 50%; */
  line-height: 16px;
  transform: translate(-50%, -100%);
}

.car-img-link span:last-child {
  /* bottom: 50%; */
  line-height: 12px;
  font-size: 12px;
  transform: translate(-50%, 0);
}

/* .car-img-link a {
  padding-top: 15px;
} */
/* sumaashi-content */
.sumaashi-content-sub h2 {
  color: #1aafc9;
  padding-top: 30px;
}

.sumaashi-content-sub h1 {
  color: #1aafc9;
  border-bottom: 20px solid yellow;
  width: 500px;
  margin: 0 auto;
}

.sumaashi-content-sub p {
  margin: 10px 0;
}

.sumaashi-content-text {
  background-color: yellow;
  color: #3509e6;
  width: 700px;
  height: 100px;
  margin: 0 auto;
  padding-top: 15px;
}

.sumaashi-content-text p {
  padding: 35px 0;
  color: black;
}

.sumaashi-content-text span {
  color: rgb(33, 159, 232);
}

.sumaashi-content-img {
  display: flex;
  justify-content: center;
}

.suma-img {
  height: 250px;
  width: 350px;
  margin: 10px;
}

.sumaashi-content-button {
  width: 500px;
  margin: 100px auto;
  padding: 10px;
  background-color: #14c4ff;
}

.sumaashi-content-button a {

  border-radius: 30px;
  width: 100%;
  height: 50px;

}

/* sumaashi-content3 */
.sumaashi-content3-title {
  padding-top: 50px;
  border-bottom: 1px solid green;
  width: 400px;
  margin: 0 auto;
}

.sumaashi-content3-title h1 {
   color: green;
}

.sumaashi-content3-text {
  padding: 15px;
  font-size: 10px;
}

/* 地域選択 */
.district-flex {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
}

/* .district {
  padding: 15px;
} */

.district-link {
  margin: 15px;
  position: relative;
  border-radius: 30px;
  border: 5px solid green;
  background-color: #fff;
  width: 220px;
  height: 50px;
}

.district-link a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.sumaashi-content2-title:first-child {
  padding-top: 30px;
}

.sumaashi-content2-title{
  padding-top: 30px;
}


.sumaashi-content2-title:last-child {
  padding: 25px 0 40px 0;
}

.sumaashi-content2-title p {
  line-height: 35px;
}
